/* Dashboard body */
.dashboard_body {
    font-family: serif;
    /* background: #D9F5E4; */
    min-height: 100vh;
    padding: 20px;
}

/* New Profile Matches Section */
.profile-img {
    filter: brightness(80%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 0.25s ease;
}

.blur-image {
    filter: blur(10px) grayscale(40%);
    pointer-events: none;
    user-select: none;
}

.premium-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;

    z-index: 2;
    cursor: pointer;
}

.requestblur-image {
    filter: blur(4px) grayscale(40%);
    pointer-events: none;
    user-select: none;
}

.premiumblur-image {
    filter: blur(4px) grayscale(40%);
    pointer-events: none;
    user-select: none;
}

/* Match section */
.matchSection {
    background: #fff;
    border-radius: 15px;
    padding: 24px;
    margin-bottom: 32px;
    box-shadow: 0 1px 6px #ddd;
}

.matchSection_map {
    width: 180px;
    height: 220px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* plan section */
.planSection {
    flex: 1;
    background: #fff;
    border-radius: 15px;
    padding: 24px;
    min-width: 280px;
    box-shadow: 0 1px 6px #ddd;
    text-align: center;
}

/* chat list */
.chatList {
    flex: 1;
    background: #fff;
    border-radius: 15px;
    padding: 24px;
    box-shadow: 0 1px 6px #ddd;
}

.chatList_map {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}