.notif-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.notif-icon {
  position: relative;
  color: #ff833b;
}

.notif-badge {
  position: absolute;
  top: -6px;
  right: -6px;

  min-width: 18px;
  height: 18px;

  background: #ff3b3b;
  color: #fff;
  font-weight: 600;
  font-size: 11px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 2px solid #fff;
}


.notif-dropdown {
  position: absolute;
  right: 0;
  margin-top: 10px;
  width: 400px;
  max-height: 300px;

  overflow-y: auto;
  overflow-x: hidden;

  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  z-index: 200;
}

.notif-empty {
  padding: 15px;
  text-align: center;
  color: #777;
  font-size: 14px;
}

.notif-item {
  padding: 12px 14px;
  border-bottom: 1px solid #eee;
  transition: background 0.2s ease;
}

.notif-item:hover {
  background: #f5f7ff;
  cursor: pointer;
}

.notif-item.unread {
  background: #e9f2ff;
  font-weight: 600;
}

.notif-title {
  font-size: 14px;
  color: #333;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.notif-time {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

/* mark-all-read */
.notif-actions {
  padding: 8px 12px;
  ;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
}

.mark-all-btn {
  background: none;
  border: none;
  color: #1976d2;
  font-size: 13px;
  cursor: pointer;
}

.mark-all-btn:hover {
  text-decoration: underline;
}