.App {
    background-color: #D9F5E4;
    font-family: 'Verdana', 'sans-serif';
}

/* Navbar */

.navBody {
    background-color: #D9F5E4;
    border-radius: 50px;
}

.navLink {
    color: #081c15;
    font-weight: 700;
    text-decoration: none;
}

.navLogin {
    border: none;
    outline: none;
    color: #081c15;
    padding: 5px 20px;
    width: 80px;
    border-radius: 10px;
    font-size: 1rem;
    background-size: 200% auto;
    box-shadow: 0px 0px 14px -7px #ffffff;
    background-image: linear-gradient(45deg, #9bcfb0 0%, #71b98e 51%, #7af5ab 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.5s;
}

.navLogin:hover {
    background-position: right center;
    color: white;
    font-weight: 600;
}

.navLogin:active {
    transform: scale(0.95);
}

/* Search Filter */

.searchfilter {
    background-color: transparent;
    border: 1px solid #9bcfb0;
    width: 260px;
    border-radius: 20px;
    height: 38px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    line-height: 38px;
    box-sizing: border-box;
    position: relative;
    top: 6px;  
}

/* Sub Navbar */

.sub_navbar {
    background-color: #f8f9fa;
    padding: 14px 0;
}

.subnav_link {
    text-decoration: none;
    color: #025423;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.subnav_link:hover {
    color: #025423;
}

.subnav_link.active {
    border-bottom: 2px solid #04c451;
    color: #025423;
}

/* Request Profiles */

.request_nav {
    padding: 14px 0;
}

.request_link {
    text-decoration: none;
    color: #025423;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.request_link:hover {
    color: #025423;  
}

.request_link.active {
    border-bottom: 2px solid #04c451;
    color: #025423;
}

/*  Matches Profiles */

.matches_nav {
    padding: 14px 0;
}

.matches_link {
    text-decoration: none;
    color: #025423;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.matches_link:hover {
    color: #025423;
}

.matches_link.active {
    border-bottom: 2px solid #04c451;
    color: #025423;
}