.App {
    background-color: #D9F5E4;
    font-family: 'Verdana', 'sans-serif';
}

/* Navbar */

.navLink{
    color: #081c15;
    font-weight: 600;
    text-decoration: none;
}

.navLogin{
    border: none;
    outline: none;
    color: #081c15;
    padding: 5px 20px;
    width: 80px;
    border-radius: 15x;
    font-size: 1rem;
    background-size: 200% auto;
    box-shadow: 0px 0px 14px -7px #ffffff;
    background-image: linear-gradient(45deg, #9bcfb0 0%, #71b98e 51%, #7af5ab 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.5s;
}

.navLogin:hover {
    background-position: right center;
    color: white;
    font-weight: 600;
}

.navLogin:active {
    transform: scale(0.95);
}