.App {
    background-color: #D9F5E4;
    font-family: 'Verdana', 'sans-serif';
}

/* scrolling won't display */
html,
body {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* Resources Dropdown Wrapper */
.navDropdown {
    position: relative;
}

/* Dropdown Menu (Hidden by default) */
.dropdownMenu {
    position: absolute;
    top: 42px;
    left: 0;
    background: #ffffff;
    border-radius: 18px;
    min-width: 200px;
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.18);
    z-index: 3000;

    /* Hidden state */
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    pointer-events: none;

    transition: all 0.25s ease;
}

/* Sub Navbar */

.sub_navbar {
    background-color: #f8f9fa;
    padding: 14px 0;

    position: sticky;
    top: 50px;
    z-index: 1000;
}

.subnav_link {
    text-decoration: none;
    color: #025423;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.subnav_link:hover {
    color: #025423;
}

.subnav_link.active {
    border-bottom: 2px solid #04c451;
    color: #025423;
}

/* Admin Payments Page */
.admin-payments-container {
    padding: 20px;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.error {
    color: red;
    margin-top: 10px;
}

/* Admin Approvals Page */
.approveHeader {
    background-color: #00695C !important;
    color: white !important;
    font-weight: bold !important;
}

/* pagination */
.mm-pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
}

.mm-page-number {
    font-weight: bold;
    padding: 4px 10px;
}

.pagination_btn {
    border: none;
    background-color: #0454c4;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}